<h1 class="uk-heading-medium uk-heading-bullet" style="padding-bottom: 1rem;">US Citizenship Questions</h1>


{{!-- <div class="slideshow-container">
    <div class="slideshow">
    {{#each selectedItems}}
        <div class="slide">
            <h3>{{{this.question}}}</h3>            
            <div id="toggleContent{{this.question_number}}" style="display: none;">
                <p>{{{this.answer}}}</p>
            </div>
            <button id="toggleButton" onclick="toggleButton({{this.question_number}}, this)">Show</button>
        </div>
    {{/each}}

    </div>
    <!-- Navigation Buttons -->
    <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
    <button class="next" onclick="changeSlide(1)">&#10095;</button>
</div>
<script src="script.js"></script> --}}

<ul uk-accordion="collapsible: true">
    {{#each output}}
    <li class="uk-closed questionPanel">
        <span class="uk-badge">{{this.question_number}}</span>
        <a class="uk-accordion-title" href>{{{this.question}}}</a>
        <div class="uk-accordion-content">
            {{{this.answer}}}
        </div>
    </li>
    {{/each}}
</ul>